{% extends "admin/dashboard.html"%}
{% block resume %}
<div class="cl-resume mt-5">
    <div class="sidebar mt-5">
        <h4 class="text-center">Experiences</h4>
        <ul class="list-unstyled">
            <li class="nav-item"><a class="nav-link active" href="{{ url_for('experience') }}">List of Experience</a></li>
            <li class="nav-item"><a class="nav-link active" href="{{ url_for('add_experience') }}">Add Experience</a></li>
        </ul>
    </div>
    <div class="content">
        {% block experience %}
        {% endblock experience %}
    </div>
</div>
{% endblock resume %}