{% extends "admin/Experiences/experience.html" %}
{% block experience %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="alert alert-success">
                {% for category, message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
<!-- Search Form -->
<div class="cl-search">
    <h1>Search experience</h1>
    <form method="GET" action="{{ url_for('experience') }}" class="mb-3 mt-4">
        <div class="row align-items-end">
            <div class="col-md-5">
                <label class="form-control-label" >Job Title</label>
                <input type="text" name="job_title" class="form-control" placeholder="Search by Job Title" value="{{ request.args.get('job_title', '') }}">
            </div>
            <div class="col-md-5">
                <label class="form-control-label">Company Name</label>
                <input type="text" name="company_name" class="form-control" placeholder="Search by Company Name" value="{{ request.args.get('company_name', '') }}">
            </div>
            <div class="col-md-1 d-grid">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </div>
    </form>
</div>
<!-- End Search Form -->
<br>
<hr>
<br>
<div class="list-experience">
    <h1>Experience Data</h1>
    <p-card class="m-1 mt-1 mb-1">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Job Title</th>
                    <th scope="col">Company Name</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">End Date</th>
                    <th scope="col">Address</th>
                    <th scope="col-2">Action</th>
                </tr>
            </thead>
            <tbody>
                {% if experiences %}
                    {% for experience in experiences %}
                    <tr>
                        <td>{{ experience.job_title }}</td>
                        <td>{{ experience.company_name }}</td>
                        <td>{{ experience.start_date }}</td>
                        <td>
                            {% if experience.is_current %}
                                Current
                            {% else %}
                                {{ experience.end_date }}
                            {% endif %}
                        </td>
                        <td>{{ experience.address }}</td>
                        <td>
                            <a href="{{ url_for('update_experience', experience_id=experience.id) }}" class="btn btn-sm btn-primary cl-edit">
                                <span>Edit</span>
                            </a>
                            <a href="{{ url_for('delete_experience', experience_id=experience.id) }}" class="btn btn-sm btn-danger cl-delete" onclick="return confirm('Are you sure you want to delete this item?');">
                                <span>Delete</span>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="6" class="text-center">Result not found</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </p-card>
</div>
{% endblock experience %}