{% extends "admin/Experiences/experience.html" %}
{% block content %}
    <div class="cl-crud">
        <form method="POST" action="{{ url_for('add_skill') }}" class="mt-lg-2">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Add Skill</legend>
                <div class="row">
                    <div class="col form-group">
                        {{ form.title.label(class="form-control-label") }}
                        {{ form.title(class="form-control") }}
                    </div>
                    <div class="col form-group">
                        {{ form.percent.label(class="form-control-label") }}
                        {{ form.percent(class="form-control") }}
                    </div>
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </div>
{% endblock content %}