{% extends "admin/dashboard.html"%}
{% block profile %}

<!-- Profile -->
<div class="{{'container tab-pane show active fade p-3 my-5' if active_tab=='profile' else 'tab-pane fade my-5 p-3'}}" id="nav-profile"
    role="tabpanel" aria-labelledby="nav-profile-tab">
    <form action="" method="POST" enctype="multipart/form-data">
        {{ profile_form.hidden_tag() }}
        <fieldset class='form-group'>
            <legend class='border-bottom mb-4'>Personal Information</legend>
            <img class="rounded-circle user-img" src="{{ image_file }}" alt="Profile Image">
            <div class='form-group'>
                <div class="row mb-3">
                    <div class="col">
                        {{ profile_form.fullname.label(class="form-label") }}
                        {{ profile_form.fullname(class="form-control") }}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        {{ profile_form.username.label(class='form-control-label') }}
                        {% if profile_form.username.errors %}
                        {{ profile_form.username(class='form-control form-control-lg is-invalid') }}
                        <div class="invalid-feedback">
                            {% for error in profile_form.username.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ profile_form.username(class='form-control form-control') }}
                        {% endif %}
                    </div>
                    <div class="col">
                        {{ profile_form.phone_number.label(class='form-control-label') }}
                        {% if profile_form.phone_number.errors %}
                        {{ profile_form.phone_number(class='form-control form-control-lg is-invalid') }}
                        <div class="invalid-feedback">
                            {% for error in profile_form.phone_number.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ profile_form.phone_number(class='form-control form-control') }}
                        {% endif %}
                    </div>
                    <div class="col">
                        {{ profile_form.email.label(class='form-control-label') }}
                        {% if profile_form.email.errors %}
                        {{ profile_form.email(class='form-control form-control-lg is-invalid') }}
                        <div class="invalid-feedback">
                            {% for error in profile_form.email.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ profile_form.email(class='form-control form-control') }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend class="border-bottom my-3">Biography</legend>
            <div class="form-group">
                <div class="col">
                    {{ profile_form.bio_title.label(class='form-control-label') }}
                    {% if profile_form.bio_title.errors %}
                    {{ profile_form.bio_title(class='form-control form-control-lg is-invalid') }}
                    <div class="invalid-feedback">
                        {% for error in profile_form.bio_title.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ profile_form.bio_title(class='form-control form-control') }}
                    {% endif %}
                </div>
                <div class="my-3">
                    {{ profile_form.bio.label(class='form-control-label') }}
                    {{ profile_form.bio(class='form-control') }}
                </div>
                <div class="form-group mb-3">
                    {{ profile_form.picture.label }}
                    {{ profile_form.picture(class='form-control-file') }}
                    {% if profile_form.picture.errors %}
                    {% for error in profile_form.picture.errors %}
                    <span class="text-danger">{{ error }}</span><br>
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="row">

                    <div class="col">
                        {{ profile_form.github.label(class='form-control-label') }}
                        {% if profile_form.github.errors %}
                        {{ profile_form.github(class='form-control form-control-lg is-invalid') }}
                        <div class="invalid-feedback">
                            {% for error in profile_form.github.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ profile_form.github(class='form-control form-control') }}
                        {% endif %}
                    </div>
                    <div class="col">
                        {{ profile_form.linkedin.label(class='form-control-label') }}
                        {% if profile_form.linkedin.errors %}
                        {{ profile_form.linkedin(class='form-control form-control-lg is-invalid') }}
                        <div class="invalid-feedback">
                            {% for error in profile_form.linkedin.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ profile_form.linkedin(class='form-control form-control') }}
                        {% endif %}
                    </div>
                    <div class="col">
                        {{ profile_form.twitter.label(class='form-control-label') }}
                        {% if profile_form.twitter.errors %}
                        {{ profile_form.twitter(class='form-control form-control-lg is-invalid') }}
                        <div class="invalid-feedback">
                            {% for error in profile_form.twitter.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ profile_form.twitter(class='form-control form-control') }}
                        {% endif %}
                    </div>
                    <div class="col">
                        {{ profile_form.instagram.label(class='form-control-label') }}
                        {% if profile_form.instagram.errors %}
                        {{ profile_form.instagram(class='form-control form-control-lg is-invalid') }}
                        <div class="invalid-feedback">
                            {% for error in profile_form.instagram.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ profile_form.instagram(class='form-control form-control') }}
                        {% endif %}
                    </div>
                </div>
                <div class="mt-3 col-12">
                    <button class="btn btn-success" type="submit">Update</button>
                </div>
            </div>
        </fieldset>
    </form>    
</div>

{% endblock profile %}