{% extends "base.html" %}
{% block content %}
<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card card-lg p-5">
        <h3 class="card-title text-center mb-4 text-white">Log In</h3>
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            <div class="mb-3">
                {{ form.email.label(class='form-label text-white') }}
                {% if form.email.errors %}
                {{ form.email(class='form-control is-invalid') }}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.email(class='form-control') }}
                {% endif %}
            </div>
            <div class="mb-3">
                {{ form.password.label(class='form-label text-white') }}
                {% if form.password.errors %}
                {{ form.password(class='form-control is-invalid') }}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.password(class='form-control') }}
                {% endif %}
            </div>
            <div class="mb-3 form-check">
                {{ form.remember(class='form-check-input') }}
                {{ form.remember.label(class='form-check-label text-white') }}
            </div>
            <div class="d-grid">
                {{ form.submit(class='btn bg-white text-black btn-lg') }}
            </div>
        </form>
        <div class="text-center mt-3">
            <small>
                <a href="{{ url_for('reset_request') }}" class="text-white">Forgot Password?</a>
            </small>
            <br>
            <small>
                <a href="{{ url_for('register') }}" class="text-white">Need an Account? Sign Up Here</a>
            </small>
        </div>
    </div>
</div>
{% endblock content %}